@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700');

html {
  overflow-y: scroll;
}

.titlefont { font-family: 'Cinzel', sans-serif; }

.title-banner h1 {
  font-size: 50px;
  font-weight:700;
  text-align: center;
  margin-bottom: 12px;
}

.title-banner h2 {
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  margin-top: 12px;
}

.title-banner nav {
  text-align: center;
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  margin-top: 0px;
}


.title-banner a {

    color: inherit;
    text-decoration: none;
}

a:hover
{
     color:#00A0C6;
     text-decoration:none;
     cursor:pointer;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  margin-top: 0px;
}
.featurette-price {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  font-size:30px;
}

/*  SECTIONS FOR EGNINEERING  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/* ---- grid ---- */

* {
  box-sizing: border-box;
}

.cta-container {
  display:table;
  width: 100%;
  height: 50%;
}

.cta-container p {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  margin:5px 0;
}

.grid-sizer, .item {
  width: 24.5%;

}

.grid-item-2 {
  width: 49.5%;
}

.grid-item-vertical {
  width: 20%;
}

#container {
  background: #EEE;
  /* center */
  /*margin: 0 auto;
  max-width: 1200px;*/
}

.gutter-sizer {
  width: 0.5%;
}

.item img {
  max-width: 100%;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(256,256,256,0.5);
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    color: #fff;
    display: none;
}


.overlay .title {
    text-align: center;
    font-size: 18px;
    background: #6d6d6d;
    margin: 0px 0 5px;
}

.overlay .description {
    position: absolute;
    bottom: 2px;
    left: 0;
    background-color: rgba(0,0,0,0.25);
    width: 100%;
    margin: 0;
}

.overlay .description a, .overlay .description a:visited {
  color: #f8ede9;
  text-decoration: none;
  display:block;
}

.overlay .description a:hover {
  color: #666666;
}

.overlay .description p {
  text-align: center;
  margin: 0.5em 0;
}

/*.overlay .description p {
    margin: 10px;
}*/

.item:hover .overlay {
    display: block;
}

@media only screen and (max-width: 960px) {
  .grid-sizer, .item {
    width: 49%;
  }
}

@media only screen and (max-width: 767px) {
  .grid-sizer, .item {
    width: 49%;
  }
}

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }
.span_1_of_3_small {width: 15%}
.span_1_of_3_large {width: 40%}


/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
small,
.small {
  font-size: 85%;
}
